#sync1 .item{

    padding:  0px;
    margin: 5px;
    color: black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
#sync1 .item h2{
float: left;
}
#sync1 .item p{
   font-size: 1.5em;
}
#sync2 .item{

    padding: 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
#sync2 .item h1{
    font-size: 18px;
}
#sync2 .synced .item{

}
